[client]
user            = mysql
port            = 3306
socket          = /tmp/mysql3306.sock
default-character-set = utf8mb4

[mysqld_safe]
open-files-limit = 8192
log-error = error.log
pid-file  = /data/mysql/3306/mysqld.pid

[mysqld]
user            = mysql
port            = 3306
socket          = /tmp/mysql3306.sock
basedir         = /usr/local/mysql

##### dir #################
innodb_log_group_home_dir = /disk1/mysql/3306/redolog
innodb_undo_directory     = /disk1/mysql/3306/undolog
log-bin                   = /disk1/mysql/3306/binlog/mysql-bin
relay-log                 = /disk1/mysql/3306/binlog/relay-bin
tmpdir                    = /disk1/mysql/3306/tmp

datadir                   = /disk2/mysql/3306/data

###### io ####################
sync_binlog = 1
innodb_flush_log_at_trx_commit = 1
innodb_io_capacity = 400
innodb_io_capacity_max = 800
innodb_adaptive_flushing = 1
innodb_max_dirty_pages_pct = 50
innodb_max_dirty_pages_pct_lwm = 30
innodb_lru_scan_depth = 1024

# 合并30个事务或0.001秒钟的事务
#binlog_group_commit_sync_delay = 1000
#binlog_group_commit_sync_no_delay_count = 300

###### server ####################
server-id = 3306168
log_timestamps = SYSTEM
back_log = 600
max_connections = 2000
max_connect_errors = 3000
default-storage-engine = InnoDB
pid-file = /data/mysql/3306/mysqld.pid
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
table_open_cache = 2048
external-locking = FALSE
max_allowed_packet = 24M
ft_min_word_len = 4
thread_stack = 512K
key_buffer_size = 32M
bulk_insert_buffer_size = 64M
skip-name-resolve = 1
transaction_isolation = READ-COMMITTED
event_scheduler = ON
log_bin_trust_function_creators = 1
#read_only = 1
max_prepared_stmt_count = 1638200

###### character ####################
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

##### Order By/Group By ##########
tmp_table_size = 128M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
thread_cache_size = 100
max_heap_table_size = 128M

###### select ####################
query_cache_type = 0

###### myisam ####################
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

###### innodb ####################
innodb_buffer_pool_size = 16G
innodb_buffer_pool_instances = 1
innodb_data_file_path = ibdata1:256M:autoextend
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 0
innodb_lock_wait_timeout = 120
innodb_file_per_table = 1
innodb_open_files = 10240
table_open_cache = 10240

###### innodb log ################
innodb_log_buffer_size = 16M
innodb_log_file_size = 2G
innodb_log_files_in_group = 3
innodb_autoextend_increment = 32

###### logs ##################
slow-query-log = on
slow_query_log_file = slow.log
long_query_time = 1
log-error = error.log
log_error_verbosity=3
general_log = 0
general_log_file = general.log

###### mysql_plugins #####################
plugin_load="rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so;"

###### gtid #####################
gtid_mode = on
enforce_gtid_consistency = 1

###### replication #####################
binlog_format = ROW
binlog_checksum = NONE
binlog_cache_size = 10M
max_binlog_size = 900M
max_binlog_cache_size = 50M
skip_slave_start = 1
expire_logs_days = 10
log_slave_updates = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay-log-index = relay-bin.index
relay_log_purge = 1
relay_log_recovery = 1
max_relay_log_size = 900M
#slave_parallel_type = 'logical_clock'
#slave_parallel_workers = 4

[mysqldump]
quick
max_allowed_packet = 24M

[mysql]
no-auto-rehash
default-character-set = utf8mb4

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

