[client]
user            = {{ mysql_user }}
port            = {{ mysql_port }}
socket          = {{ mysql_sock }}
default-character-set = utf8mb4

[mysqld]
user            = {{ mysql_user }}
port            = {{ mysql_port }}
socket          = {{ mysql_sock }}
basedir         = {{ mysql_basedir }}
datadir         = {{ mysql_datadir }}

###### server ####################
server-id = {{ mysql_port }}{{ inventory_hostname | last_part}}
log_timestamps = SYSTEM
back_log = 600
max_connections = 2000
max_connect_errors = 3000
default-storage-engine = InnoDB
pid-file = {{ mysql_portdir }}/mysqld.pid
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
table_open_cache = 2048
external-locking = FALSE
max_allowed_packet = 24M
ft_min_word_len = 4
thread_stack = 192K
key_buffer_size = 32M
bulk_insert_buffer_size = 64M
skip-name-resolve = 1
transaction_isolation = READ-COMMITTED
event_scheduler = ON
log_bin_trust_function_creators = 1
#bind_address = {{ ansible_host }}
#read_only = 1
{% if mysql_version.startswith("8.") %}
default_authentication_plugin = mysql_native_password
{% endif %}

###### character ####################
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

##### Order By/Group By ##########
tmp_table_size = 128M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 8M
join_buffer_size = 8M
thread_cache_size = 100
max_heap_table_size = 128M

###### select ####################
{% if not mysql_version.startswith("8.") %}
query_cache_type = 0
{% endif %}

###### myisam ####################
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

###### innodb ####################
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
#innodb_data_file_path = ibdata1:256M:autoextend
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_thread_concurrency = 0
innodb_max_dirty_pages_pct = 80
#innodb_lock_wait_timeout = 120
innodb_file_per_table = 1
innodb_open_files = 10240
table_open_cache = 10240

###### innodb log ################
innodb_log_buffer_size = 16M
innodb_log_file_size = 32M
innodb_log_files_in_group = 3
innodb_autoextend_increment = 32
innodb_flush_log_at_trx_commit = 2

###### logs ##################
slow-query-log = on
slow_query_log_file = slow.log
long_query_time = 1
log-error = error.log
log_error_verbosity=3
general_log = 0
general_log_file = general.log

{% if mysql_plugins %}
###### mysql_plugins #####################
plugin_load="{% for plugin in mysql_plugins %}{{ plugin.name }}={{ plugin.so }};{% endfor %}"
{% endif %}

###### gtid #####################
{% if gtid %}
gtid_mode = on
enforce_gtid_consistency = 1
{% else %}
gtid_mode = off
enforce_gtid_consistency = 0
{% endif %}

###### replication #####################
sync_binlog = 0
binlog_format = ROW
binlog_checksum = NONE
binlog_cache_size = 10M
max_binlog_size = 900M
max_binlog_cache_size = 50M
skip_slave_start = 1
log-bin = {{ mysql_portdir }}/logs/mysql-bin
expire_logs_days = 10
log_slave_updates = ON
master_info_repository = {{ master_info_repository }}
relay_log_info_repository = {{ master_info_repository }}

relay-log={{ mysql_portdir }}/logs/relay-bin
relay-log-index = relay-bin.index
relay_log_purge = 1
relay_log_recovery = 1
max_relay_log_size = 900M

{% if semi_replication %}
##### semi replication #####################
rpl_semi_sync_master_enabled = 1
rpl_semi_sync_master_wait_point = AFTER_SYNC         #AFTER_SYNC|AFTER_COMMIT
rpl_semi_sync_master_timeout = 1000                  # 1 second 无响应转成异步
rpl_semi_sync_slave_enabled = 1
{% endif %}

{% if group_replication and gtid %}
##### group replication #####################
transaction_write_set_extraction = XXHASH64
group_replication_group_name = '{{ group_replication_group_name }}'
group_replication_start_on_boot = off
group_replication_local_address = 'node1:33061'
group_replication_group_seeds = 'node1:33061,node2:33061,node3:33061'
group_replication_bootstrap_group = off
group_replication_single_primary_mode = off
group_replication_enforce_update_everywhere_checks = true
group_replication_auto_increment_increment = 5

report_host = {{ ansible_host }}
report_port = {{ mysql_port }}
{% endif %}

{% if mysql_branch == 'pxc' %}
##### Writeset replication #####################
innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode = 2

#wsrep_provider = {{ mysql_basedir }}/lib/libgalera_smm.so
#wsrep_provider_options = "{{ wsrep_provider_optins }}"
#wsrep_slave_threads = {{ wsrep_slave_threads }}
#wsrep_cluster_address = 'gcomm://node1,node2,node3'
#wsrep_node_address = {{ ansible_host }}
#wsrep_cluster_name = {{ wsrep_cluster_name }}
#wsrep_sst_method = {{ wsrep_sst_method }}
#wsrep_sst_auth = {{ wsrep_sst_auth_user }}:{{ wsrep_sst_auth_pwd }}
{% endif %}

[mysqldump]
quick
max_allowed_packet = 24M

[mysql]
no-auto-rehash
default-character-set = utf8mb4

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 8192
log-error = error.log
pid-file = {{ mysql_portdir }}/mysqld.pid
