[Unit]
Description=MySQL Server {{ mysql_port }}
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
ExecStart={{ mysql_basedir }}/bin/mysqld --defaults-file={{ mysql_datahome }}/{{ mysql_port }}/my.cnf
ExecStartPost=/usr/bin/chmod a+r {{ mysql_portdir }}/mysqld.pid
LimitNOFILE = 65536
#Restart=on-failure
#RestartPreventExitStatus=1
#PrivateTmp=false